/*
    Social.css Zeno Client
    By : https://aryaveer.tk/ and https://hitthemoney.com
*/

:root {
    --blue-shadow: #2ea1a1;
    --main-blue: #3ccfcf;
    --button: #282e3e;
    --main-ui: #1a1d28;
    --ui-background: #13141b;
}

html,
body {
    background: var(--ui-background) !important;
}

#navBar {
    background-color: #030303 !important;
    background-image: url() !important;
}

#profileKR {
    color: #fff;
}

#m_stats {
    background-color: #6441a4 !important;
}

div#blackm {
    filter: saturate(0.9) hue-rotate(-12deg) brightness(0.75);
}

.button,
#marketSearchB,
#filterRBtn,
#resetFBtn,
.pItemButton,
#invSortB,
.leaderBtn,
.tOfferBtn,
.declineAll,
a[onclick$="windows[1].searchMods()"],
#pubGame,
a[onclick$="windows[0].searchMaps()"] {
    margin-bottom: 3px;
    position: relative;
    display: inline-block;
    border-radius: 17.5px;
    padding: 12px 10px;
    padding-top: 14px;
    background-color: #202020;
    box-shadow: inset 0 -7px 0 0 #6441a4;
    text-align: center;
    color: #fff;
    text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020;
    pointer-events: all;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    background-color: #202020 !important;
    box-shadow: inset 0 -7px 0 0 #6441a4 !important;
}

#invSortB {
    border-radius: 17.5px;
}

#filterRBtn,
.pItemButton,
.tOfferBtn.accept {
    box-shadow: inset 0 -7px 0 0 #5ce05a !important;
}

#resetFBtn,
.tOfferBtn.decline,
.tOfferBtn.remove,
.declineAll {
    box-shadow: inset 0 -7px 0 0 #eb5656 !important;
}

.pItemButton[style$="background-color:#2b2b2b"] {
    box-shadow: inset 0 -7px 0 0 #101010 !important;
}

.pItemButton[style$="background-color:#ed4242"] {
    box-shadow: inset 0 -7px 0 0 #ed4242 !important;
}

.pItemButton {
    position: absolute;
    padding-top: 10px;
    margin-bottom: -3px;
}

.button {
    margin-bottom: 6px;
    box-sizing: border-box;
    padding: 12px 18px;
}

.leaderBtn {
    box-shadow: inset 0 -7px 0 0 #2f2f2f !important;
}

.tOfferBtn {
    padding: 10px 0px 13px 0px
}

.leaderBtn[style$="background-color: #993299!important;margin-left: 5px;"] {
    box-shadow: inset 0 -7px 0 0 #682d68 !important;
}

a[onclick$="windows[1].searchMods()"],
a[onclick$="windows[0].searchMaps()"],
#pubGame {
    padding: 12px 10px !important;
    padding-top: 14px !important;
    border-radius: 17.5px !important;
    background-color: #2196F3 !important;
    box-shadow: inset 0 -7px 0 0 #2e6ea2 !important;
}

.marketCard {
    background: linear-gradient(
      to bottom right,
      var(--button) 30%,
      var(--main-ui) 100%
    ) !important;

    border-left: 10px solid #292929 !important;
    overflow: hidden !important;
    color: #95a5a6 !important;
}

.marketPrice {
    background: none !important;
}

.itemOwn {
    font-size: 14px !important;
  }

.cardActions {
    border-radius: 17.4px !important;
    transition: all 0.3s !important;
    background: rgba(0, 0, 0, 0.3) !important;
}

.buttonG {
    box-shadow: inset 0 -7px 0 0 #00f200 !important
}

.buttonF {
    box-shadow: inset 0 -7px 0 0 #e09a13 !important
}

.buttonR {
    box-shadow: inset 0 -7px 0 0 #f10d0d !important
}

.buttonT {
    box-shadow: inset 0 -7px 0 0 #008eff !important
}

.buttonH {
    box-shadow: inset 0 -7px 0 0 #1384de !important;
}

.buttonS {
    box-shadow: inset 0 -7px 0 0 #78e117 !important
}

.buttonV {
    box-shadow: inset 0 -7px 0 0 #1ea8e5 !important
}

.buttonC {
    box-shadow: inset 0 -7px 0 0 #b925b9 !important
}

/* Krunker Market Tools CSS */

.sliderVal {
    float: right;
    position: relative;
    width: 45px;
    height: 25px;
    color: #fff;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    background: #2196f3;
    padding: 5px 10px;
    margin-left: 8px;
    margin-right: -10px;
    border-radius: 6px
}

.sliderM {
    -webkit-appearance: none;
    appearance: none;
    width: 45%;
    height: 15px;
    background-color: #a8a8a8;
    outline: none;
    border-radius: 4px
}

.sliderM::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 25px;
    border-radius: 4px;
    background: #2196f3;
    cursor: pointer
}

.sliderM::-moz-range-thumb {
    width: 15px;
    height: 25px;
    border-radius: 4px;
    background: #2196f3;
    cursor: pointer
}

.switch {
    float: right;
    position: relative;
    margin-bottom: 5px;
    width: 65px;
    height: 34px
}

.switch input {
    display: none
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a8a8a8;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 6px
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px
}

input:checked+.slider {
    background-color: #2196f3
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3
}

input:checked+.slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px)
}

#toolsHolder {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 110px;
    bottom: 150px;
    height: auto;
    overflow-y: auto;
}

#blackStyleSwitch {
    display: block;
    margin-top: -6px;
}

#blackStyleSliderText {
    display: block;
    font-size: 22px;
    text-align: left;
    margin-top: 7px;
}

#pingStyleSwitch,
#estValStyleSwitch {
    display: block;
    margin-top: -7px;
}

#pingStyleSliderText,
#estValStyleSliderText {
    display: block;
    font-size: 22px;
    text-align: left;
    margin-top: 17px;
}

#UIScaleText,
#UIVolText,
#MusicVolText {
    display: block;
    font-size: 22px;
    text-align: left;
    margin-top: 10px;
}

#UIScaleSlider,
#UIVolSlider,
#MusicVolSlider {
    display: block;
    margin-top: -24px;
    margin-left: 145px;
}

#UIScaleSlider {
    margin-bottom: 21px;
}

#UIScaleInput,
#UIVolInput,
#MusicVolInput {
    display: block;
    margin-top: -30px;
}

#UIVolText,
#MusicVolText {
    margin-top: 17px;
}

#MusicVolSlider {
    margin-left: 225px;
    margin-top: -20px;
}

#UIVolSlider {
    margin-left: 170px;
    margin-top: -20px;
}

#settingSliders {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 550px;
    height: 315px;
    border: solid #353535 5px;
    background-color: #fff;
    color: #353535;
    border-radius: 20px;
    padding: 10px;
}

/* Krunker Market Tools CSS */