body {
    margin: 0;
    background-image: url('https://cdn.discordapp.com/attachments/747410238944051271/751467435982585876/zenoBackgroundSocialllll.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.c {
    position: relative;
    height: 100vh;
    width: 100%;
}

#bottom {
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: white;
}