@font-face{
    src: url("./fonts/Roboto-Regular.ttf");
    font-family: "Roboto";
}

body {
    font-family: "Roboto";
    margin: 0;
    background-image: url('../assets/Zeno_BG.png');
    background-size: 118%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    color: white;
}

.c {
    position: relative;
    height: 100vh;
    width: 100%;
}

#bottom {
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 5vh;
}

#bottom div {
    float: left;
}

#download, #cancel {
    height: 5vh;
    width: 5vh;
    margin-left: 5px;
    margin-top: 1px;
    display: none;
}

#download img, #cancel img {
    height: 100%;
    width: 100%;
}

#tips {
    position: absolute;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5vh;
    width: 100%;
    text-align: center;
}