/* Zeno CSS by AlphaX / Meso remastered by Feb / causedegarcons */

:root {
	--blue-shadow: #2ea1a1;
	--main-blue: #3ccfcf;
	--button: #282e3e;
	--main-ui: #1a1d28;
	--menu-hover-bg-color: #1b1d29;
	--ui-bg: #13141b;
}

/* Universal */

* {
	color: var(--main-blue)
}

a {
	color: var(--main-blue)
}

a:hover {
	color: var(--main-blue)
}

a:visited {
	color: var(--main-blue)
}

.grey {
    color: var(--main-blue)
}

.grey:active {
    color: var(--main-blue)
}

.grey:visited {
    color: var(--main-blue)
}

select {
	background-color: var(--button)!important;
	border-radius: 0px!important
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.45);
	border-radius: 0px;
	-webkit-box-shadow: unset;
	box-shadow: unset
}

::-webkit-scrollbar-track {
	background-color: unset;
	border-radius: 0px;
	-webkit-box-shadow: unset;
    box-shadow: unset
}

/* Instruction */

/* Main Menu */

.button {
	background-color: var(--button)!important;
    box-shadow: inset 0 -7px 0 0 var(--main-blue)!important;
    border-radius: 0px;
    color: var(--main-blue)
}

.button:hover {
	background-color: var(--button)!important;
    box-shadow: inset 0 -7px 0 0 var(--main-blue)!important;
}

.buttonB:hover {
	background-color: var(--button)!important;
    box-shadow: inset 0 -7px 0 0 var(--main-blue)!important;
}

.button.lgn > span.material-icons {
	display: none!important
}

/* Police Special */

#policeButton {
	border-radius: 0px
}

#policePopC {
	background-color: var(--ui-bg);
	border-radius: 0px
}

div[style*="color:rgba(0,0,0,0.6);font-size:19px"] {
	color: var(--blue-shadow)!important
}

#trustProg {
	border-radius: 0px
}

/*                */

.headerBar {
	background-color: var(--ui-bg)
}

.headerBarLeft {
	border-radius: 0px
}

.headerBarRight {
	border-radius: 0px
}

.headerBar div {
	color: var(--main-blue)
}

.verticalSeparator {
	background-color: transparent;
	width: 0px
}

#menuKRCount {
	color: var(--main-blue)
}

.krSocial {
	display: none
}

#mLevelCont {
	background-color: var(--ui-bg);
	color: var(--main-blue);
	height: 70px
}

#uiBase.onMenu #spectButton {
	top: 80px;
    left: unset;
    right: 20px;
    transform: unset;
}

.sliderSml {
	background-color: var(--button);
}

input:checked+.sliderSml {
    background-color: var(--button);
}

.sliderCent {
	background-color: var(--button)
}

.menuItem {
	background-color: var(--ui-bg);
	color: var(--main-blue)
}

.menuItem:hover {
	border-left-color: var(--main-blue)
}

.menuItem .menuItemTitle {
	color: var(--main-blue)
}

#menuFPS {
	color: var(--blue-shadow)!important
}

#menuPingIcon {
	color: var(--blue-shadow)!important
}

.progressBar {
	border-radius: 0px
}

.progressBarInner {
	background-color: var(--blue-shadow);
	border-radius: 0px
}

#termsInfo {
	background-color: var(--ui-bg);
	border-top-left-radius: 0px
}

.terms {
	color: var(--blue-shadow)
}

.standout {
	color: var(--blue-shadow)
}

#uiBase.onMenu #voiceDisplay {
	display: none
}

.strmIcn {
	border-radius: 0px
}

.strmViews {
	color: var(--blue-shadow)
}

.strmViews[style*="color:#d72ded"] {
	color: #248f8f!important
}

/* Message Tab */

#mailIcon {
	color: var(--main-blue)!important
}

#mailList {
	color: var(--blue-shadow)
}

.readAll {
	background-color: var(--button);
	border-radius: 0px;
	color: var(--main-blue);
	text-shadow: -1px -1px 0 #202020,1px -1px 0 #202020,-1px 1px 0 #202020,1px 1px 0 #202020,-2px -2px 0 #202020,2px -2px 0 #202020,-2px 2px 0 #202020,2px 2px 0 #202020,-3px -3px 0 #202020,3px -3px 0 #202020,-3px 3px 0 #202020,3px 3px 0 #202020
}

.mailText {
    color: var(--blue-shadow);
}

.mailDate {
    color: var(--blue-shadow);
}

/* Menu Window */

#menuWindow {
	background-color: var(--ui-bg);
	border-radius: 0px;
	-webkit-box-shadow: unset;
    -moz-box-shadow: unset;
	box-shadow: unset;
}

#accResp {
	color: var(--main-blue)!important
}

#accResp span {
	color: var(--blue-shadow)!important
}

.accountInput {
	color: var(--main-blue)
}

.accountButton {
	background-color: var(--main-ui);
	color: var(--main-blue);
}

#menuWindow > div[style*="color:rgba(0,0,0,0.3);margin-top:-5px;margin-bottom:10px"] {
	color: var(--blue-shadow)!important
}

.settName, .settNameSmall {
	color: var(--main-blue)
}

.settName > .floatR > span[style*="color:rgba(0,0,0,0.5)"] {
	color: var(--blue-shadow)!important
}

#profilePicM {
	border-radius: 0px
}

.pfpAction {
	border-radius: 0px
}

.settingTab {
	background-color: var(--main-ui)
}

.settingTab:hover {
    border-bottom: 5px solid var(--blue-shadow);
}

.xpBar {
	background-color: rgba(0,0,0,0.65);
	border-radius: 0px;
}

.xpBarB {
	background-color: var(--blue-shadow)
}

.menuTabNew {
	background-color: var(--main-ui);
	color: var(--main-blue)
}

.menuTabNew:hover {
    border-bottom: 5px solid var(--main-blue)
}

.tabANew {
    border-bottom: 5px solid var(--main-blue);
}

.tabANew:hover {
    border-bottom: 5px solid var(--main-blue)
}

div[style*="color:rgba(0,0,0,0.6);margin-bottom:20px"] {
	color: var(--main-blue)!important
}

.partnerItem {
	color: var(--blue-shadow)
}

div[style*="font-size:17px;color:rgba(0,0,0,0.4);margin-top:5px"] {
	color: var(--blue-shadow)!important
}

.inputGrey {
	background-color: var(--button);
	border-radius: 0px
}

.inputGrey::placeholder {
	color: var(--main-blue);
}

.inputGrey2 {
	background-color: var(--button);
	border-radius: 0px
}

.inputGrey2::placeholder {
    color: var(--main-blue);
    opacity: 0.75;
}

div[style*="font-size:17px;color:rgba(0,0,0,0.4);margin-top:5px"] {
	color: var(--blue-shadow)!important
}

.subPassChg {
	background-color: var(--button);
	color: var(--main-blue)
}

.subPassChg:hover {
	background-color: var(--button)
}

#skinList > div[style*="margin-bottom:10px;color:rgba(0,0,0,0.5);"] {
	color: var(--blue-shadow)!important
}

.lnkTw {
	background-color: var(--button);
	border-radius: 0px
}

.lnkTw:hover {
	background-color: var(--button)
}

/* Chat */

#uiBase.onMenu #chatHolder {
    transition: .4s all;
}

#chatHolder {
	transition: .4s all
}

#chatList {
	text-align: center;
}

#chatList::-webkit-scrollbar-track {
    display: none
}

#chatList::-webkit-scrollbar {
    display: none
}

#chatList::-webkit-scrollbar-thumb {
	border-color: transparent;
}

/* Shop */

.reqW {
	border-radius: 0px
}

.reqWIcon {
	color: var(--main-blue)!important
}

.reqWLvl {
	color: var(--main-blue)
}

.reqWTxt {
	color: var(--main-blue)
}

.shopCard {
	border-radius: 0px;
	height: 168px
}

#premTime {
	color: var(--main-blue)
}

div[style*="color:rgba(0,0,0,0.3);margin-bottom:10px"] {
	color: var(--blue-shadow)!important
}

div[style*="color:rgba(0,0,0,0.3);font-size:19px;margin-bottom:5px"] {
	color: var(--main-blue)!important
}

div[style*="color:rgba(0,0,0,0.3);font-size:19px;margin-bottom:-3px"] {
	color: var(--blue-shadow)!important
}

.creatorCodeBtn {
	border-radius: 0px
}

#redVouch {
	border-radius: 0px
}

.redVouchBtn {
	background-color: var(--button);
	border-radius: 0px;
	color: var(--main-blue)
}

#vouchRes {
	color: var(--blue-shadow)
}

/* Spin */

.spinVal {
	color: var(--main-blue)
}

.spinVal > span[style*="color:#fff"] {
	color: var(--blue-shadow)!important
}

.spinVal[style*="color:#fff"] {
	color: var(--main-blue)!important
}

/* Input */

input[type=text] {
	background-color: var(--button)!important;
	border-radius: 0px!important;
	color: var(--main-blue)!important;
}

input[type=text]::placeholder {
	color: var(--main-blue)!important;
	opacity: 0.75!important
}

input[type=password] {
	background-color: var(--button)!important;
	border-radius: 0px!important;
	color: var(--main-blue)!important;
}

input[type=password]::placeholder {
	border-radius: 0px;
	color: var(--main-blue)!important;
}

input[type=number] {
	background-color: var(--button)!important;
	color: var(--main-blue)!important
}

input[type=color] {
	border: 0px solid transparent;
	border-radius: 0px!important;
	margin-top: 4px;
	margin-right: 4px
}

/* Mods & Maps */

div > span[style*="color:rgba(0,0,0,0.2);font-size:15px"] {
	color: var(--blue-shadow)!important
}

span[style*="color:rgba(0,0,0,0.6)"] {
	color: var(--blue-shadow)!important
}

.mapListItem {
	border-radius: 0px
}

.mapActionOvrl {
	border-radius: 0px
}

.mapActionB > span.material-icons {
	color: var(--main-blue)!important
}

.mapByTxt {
	color: var(--blue-shadow)
}

/* Challenge */

.chalXPBarC {
	background-color: var(--blue-shadow)
}

.floatR > span[style*="color: rgba(0, 0, 0, 0.5);"] {
	color: var(--blue-shadow)!important
}

/* Setting */

.settingsHeader {
	background-color: var(--ui-bg)
}

#requiresRestart {
	color: var(--blue-shadow)
}

span[style*="color: #eb5656"] {
	color: var(--blue-shadow)!important
}

.settingsTab {
	background-color: var(--main-ui);
}

.settingsTab:hover {
    border-bottom: 5px solid var(--main-ui)
}

#settSearch::placeholder {
    color: var(--main-blue);
}

.slider {
	background-color: var(--button)
}

.slider:before {
	background-color: var(--main-blue)
}

input:checked+.slider {
    background-color: var(--button)
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--button)
}

.settingsBtn {
	background-color: var(--button);
	border-radius: 0px;
	color: var(--main-blue)
}

.settingsBtn:hover {
	color: var(--main-blue)
}

.sliderM {
	background-color: var(--button)
}

.sliderM::-webkit-slider-thumb {
	background-color: var(--main-blue)
}

.sliderM::-moz-range-thumb {
	background-color: var(--main-blue)
}

.slidecontainer {
	margin-top: -8px
}

/* Host Game */

#rawMapData {
	border-radius: 0px
}

.mapInfoT {
    color: transparent;
}

.hostMap {
	border-color: transparent;
	border-radius: 0px
}

.b {
	color: var(--main-blue)!important
}

.hostToggle {
	background-color: var(--button);
	color: var(--main-blue)
}

.hostToggle:hover {
	background-color: var(--button);
	color: var(--main-blue)
}

.hostOpt {
	border-radius: 0px;
	background-color: transparent;
}

.optCheck {
	background-color: var(--ui-bg);
	border-radius: 0px;
	transition: .2s all
}

input:checked+.optCheck {
    background-color: var(--button)
}

input:hover+.optCheck {
    background-color: var(--main-ui)
}

.sliderVal {
	background-color: var(--button);
	color: var(--main-blue)
}

.settNameSmall > span[style*="float:right;margin-right:10px;color:rgba(0,0,0,0.5)"] {
	color: var(--blue-shadow)!important
}

#presetSelect {
	background-color: var(--button)!important
}

.hostPresetBtn {
	background-color: var(--button);
	border-radius: 0px;
	color: var(--main-blue)
}

.hostPresetBtn:hover {
	background-color: var(--button);
	color: var(--main-blue)
}

div > span[style*="float:right;color:rgba(0,0,0,0.3)"] {
	color: var(--blue-shadow)!important
}

#hCustCost {
	color: var(--main-blue)!important
}

/* Server Tab */

.serverHeader {
	background-color: var(--ui-bg)
}

.slide {
	border-color: var(--ui-bg)
}

.slider2 {
	background-color: var(--button)
}

.slider2:before {
	background-color: var(--main-blue)
}

.slideImg {
	border-radius: 0px
}

.purejscarousel-btn {
	border-radius: 0px
}

input:checked+.slider2 {
    background-color: var(--button)
}

input:focus+.slider2 {
    box-shadow: 0 0 1px var(--button)
}

.quickJoin {
	background-color: var(--button);
	color: var(--main-blue)
}

b[style*="color:rgba(0,0,0,0.6)"] {
	color: var(--main-blue)!important
}

b > span[style*="float:right;color:rgba(0,0,0,0.6)"] {
	color: var(--main-blue)!important
}

/* Ranked Tab */

.joinQueue {
	color: var(--main-blue);
    box-shadow: inset 0 -10px 0 0 #1e222f;
    background-color: var(--button);
    border-radius: 0px
}

.joinQueue:hover {
	box-shadow: inset 0 -7px 0 0 #1e222f;
}

div[style*="display:inline-block;float:right;vertical-align:top;color:rgba(0,0,0,0.3)"] {
	color: var(--blue-shadow)!important
}

.jQR {
    box-shadow: inset 0 -10px 0 0 #1e222f!important;
    background-color: var(--button)!important
}

.jQR:hover {
    height: 57px;
    margin-top: 15px;
    box-shadow: inset 0 -7px 0 0 #1e222f!important
}

.jQR:active {
    height: 54px;
    margin-top: 18px;
    box-shadow: inset 0 -4px 0 0 #1e222f!important
}

/* Menu Icon */

.iconProfile {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233514764238878/profile.png);
}

.menuItem:hover .iconProfile {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233514764238878/profile.png);
}

.iconShop {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233518379991060/shop.png);
}

.menuItem:hover .iconShop {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233518379991060/shop.png);
}

.iconChall {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233511244693535/chall.png);
}

.menuItem:hover .iconChall {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233511244693535/chall.png);
}

.iconSocial {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233520341876776/social.png);
}

.menuItem:hover .iconSocial {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233520341876776/social.png);
}

.iconGames {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233512436531260/games.png);
}

.menuItem:hover .iconGames {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233512436531260/games.png);
}

.iconMods {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233513665200158/mods.png);
}

.menuItem:hover .iconMods {
    background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233513665200158/mods.png);
}

.iconSettings {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233516127387678/settings.png);
}

.menuItem:hover .iconSettings {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233516127387678/settings.png);
}

/* Header Bar Right */

.imageButton {
	height: 50px
}

.downloadClient {
    background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/769087577658490910/Zeno_Logos.png);
}

.downloadClient:hover {
    background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/769087577658490910/Zeno_Logos.png);
}

.downloadClient:active {
    background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/769087577658490910/Zeno_Logos.png);
}

.discordSocial {
	background-image: url(https://cdn.discordapp.com/attachments/756142725262213180/756143002912555038/Zeno-Discord.png);
}

.discordSocial:hover {
	background-image: url(https://cdn.discordapp.com/attachments/756142725262213180/756143002912555038/Zeno-Discord.png)
}

.discordSocial:active {
	background-image: url(https://cdn.discordapp.com/attachments/756142725262213180/756143002912555038/Zeno-Discord.png)
}

.redditSocial {
    background-image: url(https://cdn.discordapp.com/attachments/756142725262213180/756145319934427186/Zeno-Reddit.png);
}

.redditSocial:hover {
    background-image: url(https://cdn.discordapp.com/attachments/756142725262213180/756145319934427186/Zeno-Reddit.png);
}

.redditSocial:active {
    background-image: url(https://cdn.discordapp.com/attachments/756142725262213180/756145319934427186/Zeno-Reddit.png)
}

.twitterSocial {
    background-image: url(https://cdn.discordapp.com/attachments/756142725262213180/756143567222735070/Zeno-Twitter.png);
}

.twitterSocial:hover {
    background-image: url(https://cdn.discordapp.com/attachments/756142725262213180/756143567222735070/Zeno-Twitter.png);
}

.twitterSocial:active {
    background-image: url(https://cdn.discordapp.com/attachments/756142725262213180/756143567222735070/Zeno-Twitter.png)
}

/* Customize */

.loadoutBtn {
	background-color: var(--button);
	border-radius: 0px;
	color: var(--main-blue)
}

.loadoutBtn:hover {
	color: var(--main-blue)
}

.skinColorItem {
	border: 3px solid var(--main-ui);
}

.settText {
	color: var(--main-blue)
}

.wepLink[style*="color:rgba(0,0,0,0.3)"] {
	color: var(--blue-shadow)!important
}

.classWeap {
	color: var(--main-blue)!important
}

.settText[style*="color:rgba(0,0,0,0.3)"] {
	color: rgba(60,207,207,0.3)!important;
}

i.material-icons.premiumSkinCol {
    color: var(--main-blue)!important;
}

.skinCard {
	border-radius: 0px
}

.classXPBar {
    background-color: #242424 !important;
}

.clsXPBarC {
	background-color: var(--blue-shadow)
}

#customizeButton > span.material-icons {
	display: none!important
}

/* Hud */

#ammoIcon {
	display: none
}

#ammoDisplay {
    padding-right: 20px;
}

#hudClassIcon {
	display: none;
}

#timerIcon {
	display: none;
}

#timerDisplay {
	border-radius: 5px;
	padding: 7.5px 15px;
}

#timerVal {
	padding-left: 0px
}

#challIcon {
	display: none;
}

#ingameFPS {
	color: var(--blue-shadow)!important
}

#pingIcon {
	color: var(--blue-shadow)!important
}

#voiceDisplay {
	display: none;
}

.leaderName, .newLeaderName, .newLeaderNameF, .endTableN[style*='color: #eb5656;'] {
	color: var(--main-blue)!important;
}

.leaderNameM, .newLeaderNameM, .endTableN[style*='color: #fff;'] {
	color: #ffffff!important;
}

.leaderNameF, .newLeaderNameF, .endTableN[style*='color: rgba(255,255,255,0.6);'] {
	color: rgba(255,255,255,0.6)!important;
}

#leaderDisplay {
	border-radius: 5px
}

.countIcon {
	border-radius: 5px
}



/* Contact */

div[style*="color:rgba(0,0,0,0.4);margin-top:0px"] {
	color: var(--blue-shadow)!important
}

div[style*="color:rgba(0,0,0,0.4);margin-top:10px"] {
	color: var(--blue-shadow)!important
}

div[style*="color:rgba(0,0,0,0.5)"] {
	color: var(--blue-shadow)!important
}

/* Advertise */

div[style*="color:rgba(0,0,0,0.3)"] {
	color: var(--blue-shadow)!important
}

div[style*="color:rgba(0,0,0,0.4)"] {
	color: var(--blue-shadow)!important
}

textarea {
	background-color: var(--button)!important;
    color: var(--main-blue)!important;
}

span[style*="color:rgba(0,0,0,0.3);float:right"] {
	color: var(--blue-shadow)!important
}

#bidPrevBtn {
	background-color: var(--button)!important;
	border-radius: 0px;
	color: var(--main-blue);
	transition: .2s all
}

#bidPrevBtn:hover {
	background-color: var(--button)!important;
	opacity: 1
}

#bidTextBB::placeholder {
    color: var(--main-blue)
}

/* Changelog */

.mailFrom {
	color: var(--main-blue)
}

.changeText {
	color: var(--blue-shadow)
}

/* Ads */

#aContainer {
	background-color: transparent;
}

#supportKrunker {
	color: transparent;
}

/* Pop Up */

#popupBack {
	background-color: var(--ui-bg)
}

#popupContent {
	background-color: var(--ui-bg);
	border-radius: 0px
}

#confPremiumPop, #twitchPop, #confPop {
	background-color: var(--ui-bg);
	border-radius: 0px
}

/* Spectating */

#specNames {
	border-radius: 5px
}

#specGameInfo {
	color: var(--main-blue)
}

.specContrI {
	color: var(--main-blue)
}

.specKPDContrI {
	color: var(--main-blue)
}

#specStats {
	border-radius: 0px
}

/* Misc */

.loadMoreW {
	color: var(--blue-shadow)
}

hr {
	visibility: hidden;
}

div[style*="background-color:gainsboro;border-radius:6px;padding:5px"] {
	background-color: var(--main-ui)!important;
	border-radius: 0px
}

span[style*="color:#353535"] {
	color: var(--blue-shadow)!important
}

.punishButton {
	background-color: var(--button)!important;
	color: var(--main-blue)!important
}

/* Zeno Stuff */

.zenoBadge {
    height: 50px;
    transform: translateY(35%);
    margin-right: 3px;
}

.mycustomButton {
    width: 300px;
    text-align: center;
    padding: 15px;
    font-size: 23px;
    pointer-events: all;
    padding-bottom: 22px;
}

.iconZeno {
    background-image: url('https://cdn.discordapp.com/attachments/747410238944051271/751466328262443169/FIXED.png');
}

/* Will Be Remove */

#newsHolder {
	display: none;
}

#bdayBlock {
	display: none!important
}