/* Zeno CSS by AlphaX / Meso remastered by Feb / causedegarcons */

:root {
	--shadow: #2ea1a1;
	--main: #3ccfcf;
	--button: #282e3e;
	--main-ui: #1a1d28;
	--menu-hover: #1b1d29;
	--ui-bg: #13141b;
}

/* Universal */

* {
	color: var(--main)
}

a {
	color: var(--main)
}

a:hover {
	color: var(--main)
}

a:visited {
	color: var(--main)
}

.grey {
    color: var(--main)
}

.grey:active {
    color: var(--main)
}

.grey:visited {
    color: var(--main)
}

select {
	background-color: var(--button)!important;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.45);
	-webkit-box-shadow: unset;
	box-shadow: unset
}

::-webkit-scrollbar-track {
	background-color: unset;
	-webkit-box-shadow: unset;
    box-shadow: unset
}

i.material-icons[style*="color=var(--red)"] {
	color: var(--main)!important
}

/* Instruction */

/* Main Menu */

.button {
	background-color: var(--button)!important;
    box-shadow: inset 0 -7px 0 0 var(--main)!important;
    color: var(--main)
}

.button:hover {
	background-color: var(--button)!important;
    box-shadow: inset 0 -7px 0 0 var(--main)!important;
}

.buttonB:hover {
	background-color: var(--button)!important;
    box-shadow: inset 0 -7px 0 0 var(--main)!important;
}

.button.lgn > span.material-icons {
	display: none!important
}

.speechBox {
	background-color: var(--ui-bg);
	color: var(--main);
}

.sb1:before {
	border-left-color: var(--ui-bg);
	border-top-color: var(--ui-bg);
}

/* Police Special */

#policePopC {
	background-color: var(--ui-bg);
}

div[style*="color:rgba(0,0,0,0.6);font-size:19px"] {
	color: var(--shadow)!important
}

/* Header */

.headerBar {
	background-color: var(--ui-bg)
}

.headerBar div {
	color: var(--main)
}

.verticalSeparator {
	background-color: transparent;
	width: 0px
}

#menuKRCount {
	color: var(--main)
}

.krSocial {
	display: none
}

#mLevelCont {
	background-color: var(--ui-bg);
	color: var(--main);
	height: 70px
}

#uiBase.onMenu #spectButton {
	top: 80px;
    left: unset;
    right: 20px;
    transform: unset;
}

.sliderSml {
	background-color: var(--button);
}

input:checked+.sliderSml {
    background-color: var(--button);
}

.sliderCent {
	background-color: var(--button)
}

.menuItem {
	background-color: var(--ui-bg);
	color: var(--main)
}

.menuItem:hover {
	border-left-color: var(--main)
}

.menuItem .menuItemTitle {
	color: var(--main)
}

#menuFPS {
	color: var(--shadow)!important
}

#menuPingIcon {
	color: var(--shadow)!important
}

.progressBarInner {
	background-color: var(--shadow);
}

#termsInfo {
	background-color: var(--ui-bg);
}

.terms {
	color: var(--shadow)
}

.standout {
	color: var(--shadow)
}

#uiBase.onMenu #voiceDisplay {
	display: none
}

.strmViews {
	color: var(--shadow)
}

.strmViews[style*="color:#d72ded"] {
	color: #248f8f!important
}

/* Message Tab */

#mailIcon {
	color: var(--main)!important
}

#mailList {
	color: var(--shadow)
}

.readAll {
	background-color: var(--button);
	color: var(--main);
	text-shadow: -1px -1px 0 #202020,1px -1px 0 #202020,-1px 1px 0 #202020,1px 1px 0 #202020,-2px -2px 0 #202020,2px -2px 0 #202020,-2px 2px 0 #202020,2px 2px 0 #202020,-3px -3px 0 #202020,3px -3px 0 #202020,-3px 3px 0 #202020,3px 3px 0 #202020
}

.mailObj {
	color: var(--shadow);
}

.mailText {
    color: var(--shadow);
}

.mailDate {
    color: var(--shadow);
}

/* Menu Window */

#menuWindow {
	background-color: var(--ui-bg);
	-webkit-box-shadow: unset;
    -moz-box-shadow: unset;
	box-shadow: unset;
}

#accResp {
	color: var(--main)!important
}

#accResp span {
	color: var(--shadow)!important
}

.accountInput {
	color: var(--main)
}

.accountButton {
	background-color: var(--main-ui);
	color: var(--main);
}

#menuWindow > div[style*="color:rgba(0,0,0,0.3);margin-top:-5px;margin-bottom:10px"] {
	color: var(--main)!important
}

.plusOrMinus {
	background: linear-gradient(180deg, var(--main) 50%, var(--shadow) 50%);
    -webkit-background-clip: text;
    color: transparent;
}

.setHed {
    background: linear-gradient(180deg, var(--main) 50%, var(--shadow) 50%);
    -webkit-background-clip: text;
    color: transparent;
}

.setHed span[style*="color:#000"]{
	color: var(--main) !important;
}

.settName, .settNameSmall {
	color: var(--main)
}

.settName > .floatR > span[style*="color:rgba(0,0,0,0.5)"] {
	color: var(--shadow)!important
}

#settingsTabLayout {
	background-color: transparent;
}

.settingTab {
	background-color: transparent;
	color: rgba(60,207,207,.75);
}

.settingTab:hover {
    border-bottom: unset;
    color: var(--main)

}

.xpBar {
	background-color: rgba(0,0,0,0.65);
	/* border-radius: 0px; */;
}

.xpBarB {
	background-color: var(--shadow)
}

.menuTabNew {
	background-color: transparent;
	color: rgba(60,207,207,.75)
}

.menuTabNew:hover {
    border-bottom: unset;
    color: var(--main)
}

.tabANew {
    border-bottom: solid 4px;
    color: var(--main)
}

.menuTabsNew {
	background-color: transparent;
}

div[style*="color:rgba(0,0,0,0.6);margin-bottom:20px"] {
	color: var(--main)!important
}

.partnerItem {
	color: var(--shadow)
}

div[style*="font-size:17px;color:rgba(0,0,0,0.4);margin-top:5px"] {
	color: var(--shadow)!important
}

.inputGrey {
	background-color: var(--button);
	/* border-radius: 0px; */
}

.inputGrey::placeholder {
	color: var(--main);
}

.inputGrey2 {
	background-color: var(--button);
	/* border-radius: 0px; */
}

.inputGrey2::placeholder {
    color: var(--main);
    opacity: 0.75;
}

div[style*="font-size:17px;color:rgba(0,0,0,0.4);margin-top:5px"] {
	color: var(--shadow)!important
}

.smlInput {
	background-color: var(--button)!important;
    color: var(--main)!important;
}

.smlInput::placeholder {
	color: var(--shadow)
}

.updDisN {
	background-color: var(--button);
	color: var(--main)
}

.updDisN:hover {
	background-color: var(--button)
}

.subPassChg {
	background-color: var(--button);
	color: var(--main)
}

.subPassChg:hover {
	background-color: var(--button)
}

#skinList > div[style*="margin-bottom:10px;color:rgba(0,0,0,0.5);"] {
	color: var(--shadow)!important
}

#itemSearchH {
	background-color: var(--ui-bg);
}

.lnkTw {
	background-color: var(--button);
	/* border-radius: 0px; */
}

.lnkTw:hover {
	background-color: var(--button)
}

/* Chat */

#uiBase.onMenu #chatHolder {
    transition: .4s all;
}

#chatHolder {
	transition: .4s all
}

#chatList {
	text-align: center;
}

#chatList::-webkit-scrollbar-track {
    display: none
}

#chatList::-webkit-scrollbar {
    display: none
}

#chatList::-webkit-scrollbar-thumb {
	border-color: transparent;
}

/* Shop */

.reqWIcon {
	color: var(--main)!important
}

.reqWLvl {
	color: var(--main)
}

.reqWTxt {
	color: var(--main)
}

.shopCard {
	height: 168px
}

#premTime {
	color: var(--main)
}

div[style*="color:rgba(0,0,0,0.3);margin-bottom:10px"] {
	color: var(--shadow)!important
}

div[style*="color:rgba(0,0,0,0.3);font-size:19px;margin-bottom:5px"] {
	color: var(--main)!important
}

div[style*="color:rgba(0,0,0,0.3);font-size:19px;margin-bottom:-3px"] {
	color: var(--shadow)!important
}

.redVouchBtn {
	background-color: var(--button);
	color: var(--main)
}

#vouchRes {
	color: var(--shadow)
}

/* Spin */

.spinVal {
	color: var(--main)
}

.spinVal > span[style*="color:#fff"] {
	color: var(--shadow)!important
}

.spinVal[style*="color:#fff"] {
	color: var(--main)!important
}

.button.btnRespin {
    background-color: var(--button)!important;
    box-shadow: inset 0 -7px 0 0 var(--main)!important;
}

/* Input */

input[type=text] {
	background-color: var(--button)!important;
	/* border-radius: 0px; !important; */
	color: var(--main)!important;
}

input[type=text]::placeholder {
	color: var(--main)!important;
	opacity: 0.75!important
}

input[type=password] {
	background-color: var(--button)!important;
	/* border-radius: 0px!important; */
	color: var(--main)!important;
}

input[type=password]::placeholder {
	/* border-radius: 0px; */
	color: var(--shadow)!important;
}

input[type=number] {
	background-color: var(--button)!important;
	color: var(--main)!important
}

input[type=color] {
	border: 0px solid transparent;
	/* border-radius: 0px!important; */
	margin-top: 4px;
	margin-right: 4px
}

/* Mods & Maps */

div > span[style*="color:rgba(0,0,0,0.2);font-size:15px"] {
	color: var(--shadow)!important
}

span[style*="color:rgba(0,0,0,0.6)"] {
	color: var(--shadow)!important
}

.mapActionB > span.material-icons {
	color: var(--main)!important
}

.mapByTxt {
	color: var(--shadow)
}

#modDropper {
	border-color: rgba(46, 161, 161, 0.3);
}

#modLInfo {
	color: rgba(46, 161, 161, 0.3);
}

/* Challenge */

.chalDesc {
	margin-top: unset;
}

.chalProg {
	text-align: right;
	top: -35px;
	font-size: 17.5px
}

.chalXPBarC {
	background-color: var(--shadow)
}

.floatR > span[style*="color: rgba(0, 0, 0, 0.5);"] {
	color: var(--shadow)!important
}

/* Setting */

.settingsHeader {
	background-color: var(--ui-bg)
}

#requiresRestart {
	color: var(--shadow)
}

span[style*="color: #eb5656"] {
	color: var(--shadow)!important
}

.settingsTab {
	background-color: var(--main-ui);
}

.settingsTab:hover {
    border-bottom: 5px solid var(--main-ui)
}

#settSearch::placeholder {
    color: var(--main);
}

.slider {
	background-color: var(--button)
}

.slider:before {
	background-color: var(--main)
}

input:checked+.slider {
    background-color: var(--button)
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--button)
}

.settingsBtn {
	background-color: var(--button);
	/* border-radius: 0px; */;
	color: var(--main)
}

.settingsBtn:hover {
	color: var(--main)
}

.sliderM {
	background-color: var(--button)
}

.sliderM::-webkit-slider-thumb {
	background-color: var(--main)
}

.sliderM::-moz-range-thumb {
	background-color: var(--main)
}

.slidecontainer {
	margin-top: -8px
}

/* Host Game */

.mapInfoT {
    color: transparent;
}

.hostMap {
	border-color: transparent;
}

.hostMapName {
    left: 50%;
    top: 50%;
	transform: translate(-50%, -50%);
	width: fit-content;
}

.hostMapYear{
    left: 50%;
    right: unset;
    top: 10px;
    transform: translateX(-50%);
}

.hostMapBy {
	display: none;
}

.hostMapVersion {
    left: 50%;
    right: unset;
    top: unset;
	bottom: 7.5px;
	font-size: 10px;
    transform: translateX(-50%);
}

.b {
	color: var(--main)!important
}

.hostToggle {
	background-color: var(--button);
	color: var(--main)
}

.hostToggle:hover {
	background-color: var(--button);
	color: var(--main)
}

.hostOpt {
	background-color: transparent;
	border-color: transparent;
	text-align: center;
}

.optImg {
	right: unset;
	left: 50%;
	transform: translateX(-50%);
}

.optName {
	z-index: 2;
}

.optCheck {
	background-color: var(--ui-bg);
	transition: .2s all
}

input:checked+.optCheck {
    background-color: var(--button)
}

input:hover+.optCheck {
    background-color: var(--main-ui)
}

#hostGameMsg {
	color: var(--shadow)!important;
}

#teamLink1 {
	color: var(--shadow)!important;
}

#teamLink2 {
	color: var(--shadow)!important;
}

.sliderVal {
	background-color: var(--button);
	color: var(--main)
}

.settNameSmall > span[style*="float:right;margin-right:10px;color:rgba(0,0,0,0.5)"] {
	color: var(--shadow)!important
}

#presetSelect {
	background-color: var(--button)!important
}

.hostPresetBtn {
	background-color: var(--button);
	/* border-radius: 0px; */;
	color: var(--main)
}

.hostPresetBtn:hover {
	background-color: var(--button);
	color: var(--main)
}

div > span[style*="float:right;color:rgba(0,0,0,0.3)"] {
	color: var(--shadow)!important
}

#hCustCost {
	color: var(--main)!important
}

/* Server Tab */

.serverHeader {
	background-color: var(--ui-bg)
}

.slide {
	border-color: var(--ui-bg)
}

.slider2 {
	background-color: var(--button)
}

.slider2:before {
	background-color: var(--main)
}

input:checked+.slider2 {
    background-color: var(--button)
}

input:focus+.slider2 {
    box-shadow: 0 0 1px var(--button)
}

.quickJoin {
	background-color: var(--button);
	color: var(--main)
}

b[style*="color:rgba(0,0,0,0.6)"] {
	color: var(--main)!important
}

b > span[style*="float:right;color:rgba(0,0,0,0.6)"] {
	color: var(--main)!important
}

/* Ranked Tab */

.joinQueue {
	color: var(--main);
    box-shadow: inset 0 -10px 0 0 #1e222f;
    background-color: var(--button);
    /* border-radius: 0px; */
}

.joinQueue:hover {
	box-shadow: inset 0 -7px 0 0 #1e222f;
}

div[style*="display:inline-block;float:right;vertical-align:top;color:rgba(0,0,0,0.3)"] {
	color: var(--shadow)!important
}

.jQR {
    box-shadow: inset 0 -10px 0 0 #1e222f!important;
    background-color: var(--button)!important
}

.jQR:hover {
    height: 57px;
    margin-top: 15px;
    box-shadow: inset 0 -7px 0 0 #1e222f!important
}

.jQR:active {
    height: 54px;
    margin-top: 18px;
    box-shadow: inset 0 -4px 0 0 #1e222f!important
}

/* Menu Icon */

.iconProfile {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233514764238878/profile.png);
}

.menuItem:hover .iconProfile {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233514764238878/profile.png);
}

.iconShop {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233518379991060/shop.png);
}

.menuItem:hover .iconShop {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233518379991060/shop.png);
}

.iconChall {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233511244693535/chall.png);
}

.menuItem:hover .iconChall {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233511244693535/chall.png);
}

.iconSocial {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233520341876776/social.png);
}

.menuItem:hover .iconSocial {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233520341876776/social.png);
}

.iconGames {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233512436531260/games.png);
}

.menuItem:hover .iconGames {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233512436531260/games.png);
}

.iconMods {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233513665200158/mods.png);
}

.menuItem:hover .iconMods {
    background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233513665200158/mods.png);
}

.iconSettings {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233516127387678/settings.png);
}

.menuItem:hover .iconSettings {
	background-image: url(https://cdn.discordapp.com/attachments/719789737833005108/767233516127387678/settings.png);
}

/* Header Bar Right */

.imageButton {
	width: 56px
}

.downloadClient {
    background-image: url(https://media.discordapp.net/attachments/719789737833005108/778553254966984714/Zeno_Download.png);
}

.downloadClient:hover {
    background-image: url(https://media.discordapp.net/attachments/719789737833005108/778553254966984714/Zeno_Download.png);
}

.downloadClient:active {
    background-image: url(https://media.discordapp.net/attachments/719789737833005108/778553254966984714/Zeno_Download.png);
}

.discordSocial {
	background-image: url(https://media.discordapp.net/attachments/719789737833005108/778553248885243914/Zeno_Discord.png);
}

.discordSocial:hover {
	background-image: url(https://media.discordapp.net/attachments/719789737833005108/778553248885243914/Zeno_Discord.png)
}

.discordSocial:active {
	background-image: url(https://media.discordapp.net/attachments/719789737833005108/778553248885243914/Zeno_Discord.png)
}

.redditSocial {
    background-image: url(https://media.discordapp.net/attachments/719789737833005108/778553252487626772/Zeno_Reddit.png);
}

.redditSocial:hover {
    background-image: url(https://media.discordapp.net/attachments/719789737833005108/778553252487626772/Zeno_Reddit.png);
}

.redditSocial:active {
    background-image: url(https://media.discordapp.net/attachments/719789737833005108/778553252487626772/Zeno_Reddit.png)
}

.twitterSocial {
    background-image: url(https://media.discordapp.net/attachments/719789737833005108/778553252014587924/Zeno_Twitter.png);
}

.twitterSocial:hover {
    background-image: url(https://media.discordapp.net/attachments/719789737833005108/778553252014587924/Zeno_Twitter.png);
}

.twitterSocial:active {
    background-image: url(https://media.discordapp.net/attachments/719789737833005108/778553252014587924/Zeno_Twitter.png)
}

/* Customize */

.loadoutBtn {
	background-color: var(--button);
	/* border-radius: 0px; */;
	color: var(--main)
}

.loadoutBtn:hover {
	color: var(--main)
}

.skinColorItem {
	border: 3px solid var(--main-ui);
}

.settText {
	color: var(--main)
}

.wepLink[style*="color:rgba(0,0,0,0.3)"] {
	color: var(--shadow)!important
}

.classWeap {
	color: var(--main)!important
}

.settText[style*="color:rgba(0,0,0,0.3)"] {
	color: rgba(60,207,207,0.3)!important;
}

i.material-icons.premiumSkinCol {
    color: var(--main)!important;
}

.classXPBar {
    background-color: #242424 !important;
}

.clsXPBarC {
	background-color: var(--shadow)
}

#customizeButton > span.material-icons {
	display: none!important
}

/* Hud */

#ammoIcon {
	display: none
}

#ammoDisplay {
    padding-right: 20px;
}

#hudClassIcon {
	display: none;
}

#timerIcon {
	display: none;
}

#timerDisplay {
	border-radius: 5px;
	padding: 7.5px 15px;
}

#timerVal {
	padding-left: 0px
}

#challIcon {
	display: none;
}

#ingameFPS {
	color: var(--shadow)!important
}

#pingIcon {
	color: var(--shadow)!important
}

#voiceDisplay {
	display: none;
}

.leaderName, .newLeaderName, .newLeaderNameF, .endTableN[style*='color: #eb5656;'] {
	color: var(--main)!important;
}

.leaderNameM, .newLeaderNameM, .endTableN[style*='color: #fff;'] {
	color: #ffffff!important;
}

.leaderNameF, .newLeaderNameF, .endTableN[style*='color: rgba(255,255,255,0.6);'] {
	color: rgba(255,255,255,0.6)!important;
}

#leaderDisplay {
	border-radius: 5px
}

.countIcon {
	border-radius: 5px
}



/* Contact */

div[style*="color:rgba(0,0,0,0.4);margin-top:0px"] {
	color: var(--shadow)!important
}

div[style*="color:rgba(0,0,0,0.4);margin-top:10px"] {
	color: var(--shadow)!important
}

div[style*="color:rgba(0,0,0,0.5)"] {
	color: var(--shadow)!important
}

/* Advertise */

div[style*="color:rgba(0,0,0,0.3)"] {
	color: var(--shadow)!important
}

div[style*="color:rgba(0,0,0,0.4)"] {
	color: var(--shadow)!important
}

textarea {
	background-color: var(--button)!important;
    color: var(--main)!important;
}

span[style*="color:rgba(0,0,0,0.3);float:right"] {
	color: var(--shadow)!important
}

#bidPrevBtn {
	background-color: var(--button)!important;
	/* border-radius: 0px; */;
	color: var(--main);
	transition: .2s all
}

#bidPrevBtn:hover {
	background-color: var(--button)!important;
	opacity: 1
}

#bidTextBB::placeholder {
    color: var(--main)
}

/* Changelog */

.mailFrom {
	color: var(--main)
}

.changeText {
	color: var(--shadow)
}

/* Ads */

#aContainer {
	background-color: transparent;
}

#supportKrunker {
	color: transparent;
}

/* Pop Up */

#popupBack {
	opacity: 0;
}

#popupContent {
	background-color: var(--menu-hover) !important;
	/* border-radius: 0px; */
}

#confPremiumPop, #twitchPop, #confPop {
	background-color: var(--ui-bg);
	/* border-radius: 0px; */
}

#claimPop {
	background-color: var(--ui-bg);
}

#freeKRClaimTxt {
	color: var(--main)
}

/* Spectating */

#specNames {
	border-radius: 5px
}

#specGameInfo {
	color: var(--main)
}

.specContrI {
	color: var(--main)
}

.specKPDContrI {
	color: var(--main)
}

/* Clan */



/* Misc */

.loadMoreW {
	color: var(--shadow)
}

hr {
	visibility: hidden;
}

div[style*="background-color:gainsboro;border-radius:6px;padding:5px"] {
	background-color: var(--main-ui)!important;	
}

span[style*="color:#353535"] {
	color: var(--shadow)!important
}

.punishButton {
	background-color: var(--button)!important;
	color: var(--main)!important
}

/* Zeno Stuff */

.zenoSetting a {
	background-color: var(--button);
}

/* Will Be Remove */

#newsHolder {
	display: none;
}

#bdayBlock {
	display: none!important
}

#instructionsUpdateBG {
	background-image: url("https://cdn.discordapp.com/attachments/747410238944051271/751467435982585876/zenoBackgroundSocialllll.png") !important;
	background-size: 105% !important;
}

#seasonLabel {
	color: var(--shadow);
}

#seasonLabel span {
	color: var(--main)!important;
}