/* 
    Style.css Zeno Client
    By : Zeno Client Team
*/

.button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 12px 18px;
    padding-top: 14px;
    margin-bottom: 6px;
    background-color: #202020;
    box-shadow: inset 0 -7px 0 0 #6441a4;
    text-align: center;
    color: #fff;
    text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020;
    pointer-events: all;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    background-color: #202020!important;
    box-shadow: inset 0 -7px 0 0 #6441a4!important;
}

.button:hover {
    background-color: #202020!important;
    box-shadow: inset 0 -7px 0 0 #6441a4!important;
}

#menuWindow {
    background-image: url('https://cdn.discordapp.com/attachments/747410238944051271/751468174188347494/backWhite.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-color: transparent !important;
}

#chatInputZeno {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
    border: none;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 6px;
    pointer-events: all;
    border-radius: unset
}

#chatInputZeno::placeholder {
    color: rgba(255, 255, 255, .7)
}

.iconZeno {
    background-image: url('https://cdn.discordapp.com/attachments/747410238944051271/751466328262443169/FIXED.png');
}

.serverHeader {
    background-color: transparent !important;
}

.settingsHeader {
    background-color: transparent !important;
}

.downloadClient {
    display: none !important;
}

.iconProfile {
    background-image: url('https://cdn.discordapp.com/attachments/747410238944051271/751468348134391878/profile2.png') !important;
}

.iconShop {
    background-image: url('https://cdn.discordapp.com/attachments/747410238944051271/751468449292877845/shop2.png') !important;
}

.iconSettings {
    background-image: url('https://cdn.discordapp.com/attachments/747410238944051271/751468575188844650/settings2.png') !important;
}

.mycustomButton {
    width: 300px;
    text-align: center;
    padding: 15px;
    font-size: 23px;
    pointer-events: all;
    padding-bottom: 22px;
}

#drop-area {
    border: 2px dashed black;
    border-radius: 20px;
    width: 80%;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
}

#drop-area.highlight {
    border-color: purple;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.buttona {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
}

.buttona:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}

.iconMods {
    background-image: url('https://cdn.discordapp.com/attachments/747410238944051271/751468992228491424/mods2.png') !important;
}

.iconChall {
    background-image: url('https://cdn.discordapp.com/attachments/747410238944051271/751469133224214678/chall2.png') !important;
}

.iconGames {
    background-image: url('https://cdn.discordapp.com/attachments/747410238944051271/751469300220559370/games2.png') !important;
}

.iconSocial {
    background-image: url('https://cdn.discordapp.com/attachments/747410238944051271/751469427567886364/social2.png') !important;
}

.headerBarRight {
    background-color: #202020!important;
}

.headerBarLeft {
    background-color: #202020!important;
}

.menuItem {
    border-radius: 25% !important;
}

#chatHolder {
    background-color: #202020!important;
    padding: 3px !important;
    margin-right: 5px;
}

.menuItem:hover {
    background-color: rgba(0, 0, 0, 75%) !important;
}

.topRightBoi {
    position: absolute;
    top: 0;
    right: 0;
}

.twitch {
    color: purple !important;
}

.zenoBadge {
    height: 50px;
    transform: translateY(35%);
    margin-right: 3px;
}