/* Zeno Stuff */

.topRightBoi {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
}

#newsHolder {
    display: none;
}

.mycustomButton {
    width: 300px;
    text-align: center;
    padding: 15px;
    font-size: 23px;
    pointer-events: all;
    padding-bottom: 22px;
}

.iconZeno {
    background-image: url('https://cdn.discordapp.com/attachments/747410238944051271/751466328262443169/FIXED.png');
}

#clientPop {
	display: none !important;
}

.downloadClient {
    display: none !important;
}

.zenoExit {
    background-image: url("https://cdn.discordapp.com/attachments/756142725262213180/756353103581806602/Zeno_Exit.png");
}

.zenoSetting input[type=text] {
	margin-right: 10px;
}

.zenoSetting a {
    float: right;
    box-sizing: content-box;
    padding: 5px;
    font-size: 60%;
    text-align: center;
    width: 70px;
}

.terms[href="/"] {
    margin-left: 10px;
}

.settName {
	font-size: 20px;
}

/* Badges */

.zenoModelPreviewBadge {
    height: 50px;
    transform: translateY(35%);
    margin-right: 3px;
}

.zenoHeaderBadge {
    height: 32px;
    margin-left: 3px;
    margin-right: 3px;
}

.zenoEndLeaderboardBadge {
    height: 70%;
    transform: translateY(5px);
}

/* Ads */

#aContainer {
    background-color: transparent;
    max-width: 575px;
    min-width: 575px;
}